<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new List!</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create a new Item!</a>
        </p>
        <table>
          <thead>
            <tr id="table-title">
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for todolist in todo_list_list %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todolist.id %}"
                  >{{ todolist.name }}</a
                >
              </td>
              <!-- Number of items in todolist-->
              <td>{{ todolist.items.all.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
